body {
    position: relative;
}

.content h1 {
    color: #B6B6B6;
    font-size: 60px !important;
    margin: 0;
}

.content h2 {
    margin: 0;
    padding: 0;
    line-height: 30px;
}

.content i.fa {
    color: #009C95;
    font-size: 200px;
}

.content > .column {
    position: relative;
    margin-top: 200px;
}

.content .s-icon{
    text-align: right;
}

.content .s-text {
    color: #B6B6B6;
    text-align: left;
}
footer {
    height: 20%;
    font-size: 10px;
    position: relative;
}

footer .container {
    position: relative;
    margin-top: 25px;
}

@media only screen and (max-width: 700px) {
    .content i.fa {
        color: #009C95;
        font-size: 100px;
    }

    .content h1 {
        color: #B6B6B6;
        font-size: 30px !important;
    }

    .content {
        padding: 20% 0 0;
        background-color: #F4F5F7;
        height: 80%;
        text-align: center !important;
    }

    .content .divider {
        display: none;
    }

    .content .s-icon, .content .s-text {
        text-align: center;
    }
}