h1.headtitle {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    font-size: 55px;
}

.center {
    text-align: center;
}

.footer.segment {
    padding: 5em 0em;
}

.body-content {
    margin: 100px 0;
}

@media only screen and (max-width: 700px) {
    .body-content {
        margin: 80px 0;
    }
}