body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.center {
  text-align: center;
}

.fa-active-color {
  color: green;
}

.fa-inactive-color {
  color: red;
}
