{% extends "template.html" %}
{% block body %}
<div class="body-content">
    <div class="ui main text container">
        <h1 class="ui header">How to user Slim Skeleton Application</h1>
        <p>For more information about the Slim Framework visit their <a
                href="http://www.slimframework.com/"> website</a></p>
        <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
        <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
        <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
        <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
        <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
        <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
        <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
    </div>
</div>

{% endblock %}