{% extends "error-template.html" %}
{% block body %}

<div class="content">
    <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="column s-icon">
            <i class="fa fa-{{ status.icon }}"></i>
        </div>
        <div class="ui vertical divider">
            Error
        </div>
        <div class="column s-text">
            <h1>{{ status.code }}</h1>
            <h2>{{ status.error }}</h2>
            <p>
                {{ status.message }}
                <br/>
                <a href="/">Back to home</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}