<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Renato Rodrigues de Araujo">
    <title>{{ status }} - Slim Skeleton Application</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700'
          type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"
          type='text/css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          type='text/css'/>
    <link rel="stylesheet" href="/css/error-template.css" type='text/css'>
</head>
<body>
{% block body %}{% endblock %}
{% block footer %}
<footer class="ui vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="center aligned column">
                <p>Slim Skeleton Application</p>
                <p>Built with <i class="fa fa-heart"></i> by <a
                        href="https://hu.linkedin.com/in/renatoraraujo">Renato
                    Araujo</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
</body>
</html>