<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Renato Rodrigues de Araujo">
    <title>Slim Skeleton Application</title>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700'
          type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"
          type='text/css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
          type='text/css'/>
    <link rel="stylesheet" href="/css/style.css" type='text/css'>
</head>

<body>

<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a href="/" class="{{ route == 'home' ? 'active' }} item">Home</a>
        <a href="/development" class="{{ route == 'development' ? 'active' }} item">Development</a>
        <div class="right menu">
            <div class="item">
                <a href="/signin" class="{{ route == 'signin' ? 'active' }} ui button">Sign In</a>
            </div>
            <div class="item">
                <a href="/signup" class="{{ route == 'signup' ? 'active' }} ui teal button">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a href="/" class="{{ route == 'home' ? 'active' }} item">Home</a>
    <a href="/development" class="{{ route == 'development' ? 'active' }} item">Development</a>
    <a href="/signin" class="{{ route == 'signin' ? 'active' }} item">Sign In</a>
    <a href="/signup" class="{{ route == 'signup' ? 'active' }} item">Sign Up</a>
</div>

{% block body %}{% endblock %}

{% block footer %}
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="/development" class="item">Development</a>
                    <a href="/contribute" class="item">Contribute on GitHub</a>
                    <p>Built with <i class="fa fa-heart"></i> by <a href="https://hu.linkedin.com/in/renatoraraujo">Renato
                        Araujo</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
<script src="/js/script.js"></script>
</body>
</html>